@mixin breadcrumbs($bgPath) {
  /*-- BREADCRUMBS --*/
  .breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    background: url("#{$bgPath}") center top/ cover no-repeat;//#{$bgPath}../img/testimonials/bg-breadcrumbs.jpg
    background-attachment: fixed;
    h1 {
      margin-bottom: 95px;
      font-family: "Lato-Hairline", sans-serif;
      font-size: 160px;
      font-weight: 100;
      // font-stretch: normal;
      // font-style: normal;
      line-height: 0.24;
      letter-spacing: 2px;
      color: #ffffff;
    }
  }
}