@mixin burger($burgerClass, $menuClass, $linkColor, $bgColor) {
  .#{$burgerClass} {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 103;
      &::before,
      &::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      span{
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        /* transition: all 0.3s ease 0s; */
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active span{
        transform: scale(0);
      }
      &.active::before{
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
    
  .#{$menuClass} {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    // background-color: rgba(28,153,84,0.9);
    background-color: #{$bgColor};
    padding: 70px 10px 20px 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
    &.active {
      top: 0;
    }
    .nav{
      display: block;
      text-align: center;
      
    }
    .nav li{
      padding: 0 0 20px 0;
    }
    .nav a{
      color: #{$linkColor};
    }
  }

  body.lock{
    overflow: hidden;
  }
}
