.page-title.about {
  background: url("../media/img/about/bg-page-title.jpg") center top/ cover no-repeat;
}

.about {
  background-image: url('../media/img/about/picture.jpg');
    // background-size: 350px 290px;
    background-position: top 60px left 18%;
    background-repeat: no-repeat;
}


.about-content {
  padding-right: 110px;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  .description {
    max-width: 650px;
    background: rgba(255, 255, 255, 0.9);

  }
  p {
    line-height: 1.75;
  }
  .remark {
    padding-left: 20px;
    position: relative;
    font-family: "Lato-LightItalic", sans-serif;
    font-size: 24px;
    line-height: 1.67;
  }
  .remark::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;

    // margin: 45px 14px 1048px 54px;
    background-color: #eeeeee;
  }
}

.services {
  color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../media/img/about/bg-services.jpg");
  background-position: center;
  background-size: cover;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.services-item {
  position: relative;
  max-width: 265px;
  cursor: pointer;
  h4 {
    font-family: "Lato-Bold", sans-serif;
  }
  p {
    font-size: 15px;
    line-height: 1.6;
  }
}

.services-item:hover::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  width: 47px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #8245ff;
}

.services-item-icon {
  margin: auto;
  width: 25px;
  height: 25px;
  svg{
    height: 100%;
    width: 100%;
    fill: #8245ff;
  }
}

.advantages-choose .wrapper {
  display: flex;
  text-align: left;
  .title {
    margin-bottom: 50px;
  }
  // align-items: center;
}

.advantages {
  padding: 10px;
  width: 50%;
  
  font-size: 15px;
}

.adv-item {
  display: flex;
  min-height: 100px;
  // align-items: center;
  h4 {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    line-height: 1.6;
  }
}

.adv-icon {
  margin-right: 25px;
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #431d91;
  border-radius: 50%;
  svg {
    width: 60%;
    height: 60%;
    fill: #fdfdfd;
  }
}

.why-choose {
  padding: 10px 40px;
  width: 50%;
}

.why-choose-content {
  display: flex;
}

.shoose-img {
  margin-right: 40px;
  width: 165px;
  height: 260px;
  flex-shrink: 0;
}

.choose-descr p {
  margin-bottom: 30px;
}

.team {
  background-image: linear-gradient(rgba(255, 255, 255,.8), rgba(255, 255, 255, .8)), url("../media/img/about/bg-our-team.jpg");
  background-position: center;
  background-size: cover;
}

.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  // margin: 20px;
  width: 267px;
  font-size: 15px;
  line-height: 1.6;
  background-color: #fff;
  h4 {
    text-transform: uppercase;
  }
  p {
    padding: 0 20px;
  }
  &:hover .social-box{
    top: 0px;
  }
}

.team-card-img {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 29, 145, .9);
  transition: 1s;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    // height: 15px;
  }
  li {
    position: relative;
    &:hover::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      left: 50%;
      width: 19px;
      height: 2px;
      transform: translateX(-50%);
      background-color: #fff;
    }
  }

  svg {
    height: 16px;
    width: 16px;
    fill: #fff;
  }

}








