/*-- FAQ --*/
.page-title.faq {
  background: url("../media/img/faq/bg-page-title.jpg") center top/ cover no-repeat;
}

.faq-item {
  width: 100%;
  &-link {
    margin-bottom: 34px;
    padding: 28px;
    position: relative;
    // display: flex;
    width: 100%;
    background-color: #f7f7f7;
    .faq-item-arrow {
      // width: 89px;
      // height: 21px;
      // position: absolute;
      // bottom: -20px;
      // & svg {
      //   fill: #f7f7f7;

      // }
      width: 89px;
      height: 21px;
      position: absolute;
      bottom: -46px;
      left: -10px;
      border-style: solid;
      border-width: 24px 43px;
      border-color: #f7f7f7 transparent transparent transparent;
      transform: skew( 
285deg
 , 
-2deg
 );
    }
    .faq-item-title p {
      text-align: left;
      font-size: 15px;
      line-height: 1.5;
      &::before {
        content: "Q. ";
        font-family: "Lato-Bold", sans-serif;
      }
    }
    &:hover,
    &-active {
      background-color: #431d91;
      .faq-item-arrow {
        border-color: #431d91 transparent transparent transparent;
        // & svg {
        //   fill: #431d91;
        // }
      }
      .faq-item-title {
        color: #fff;
      }
    }
  }
  .faq-item-body {
    margin-bottom: 20px;
    padding: 36px 59px 34px 32px;
    text-align: left;
    font-size: 15px;
    line-height: 2;
    border: solid 1px #ebebeb;
    & p::before {
      content: "A.";
      font-family: "Lato-Bold", sans-serif;
    }
  } 
 
  
}

// &::before {
//   content: "";
//   margin: 0 auto;
//   display: block;
//   width: 89px;
//   height: 21px;
//   background: url("../media/img/testimonials/arrowUp-testimonial.png") center top/ cover no-repeat;
// }