/*-- FOOTER --*/

.footer {
  padding-top: 121px;
  text-align: center;
  color: #616161;
  background: url("../media/img/bg-footer.jpg") center top/ cover no-repeat;
  img {
    width: 183px;
    display: flex;
    margin: 0 auto 40px;  
  }
  p {
    margin-bottom: 100px;
  }
  .footer-burger {
    display: none;
  }
}

.footer-nav {
  background-color: #262626;
  .wrapper {
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    &-link {
      color: #565555;
      transition: text-shadow 1s;
      &:hover {
        color: #989898;
        text-shadow: 1px 0px #989898;
      }
    }
  }
  li {
    margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }  
}