@media all and (max-width:1100px) {
  .features-items .swiper-wrapper {
  column-gap: 20px;
  row-gap: 10px;
  }
  .i-pad {
    position: relative;
  } 
  
  .skills-and-offer .wrapper {
    display: block;
  }
  .skills {
    margin-bottom: 60px;
  }

  .page-title h1 {
    font-size: 100px;
  }

  .good-looking-design {
    
    background-attachment: fixed;
    .wrapper {
      justify-content: center;
    }
    .design-content {
      width: 75%;
      text-align: center;
      text-shadow: -1px -1px 1px #fff;
    }

    .design-features-items {
      justify-content: space-around;
    }

    .features-item {
      padding: 5px;
      max-width: 270px;
    }
  }

  .useful-features {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../media/img/home/screens.png');
    .wrapper {
      justify-content: center;
    }
    .useful-content {
      width: 75%;
      text-align: center;
      text-shadow: -1px -1px 1px #fff;
    }

    .useful-features-items {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .features-item {
      padding: 5px;
      max-width: 270px;
    }
  }

  .contact-us {
    flex-direction: column;
  }

  .contact-form,
  .contact-items {
    width: 100%;
    align-items: center;
  }

  .contact-icon {
    margin-right: 0;
  }

  .social-links ul {
    padding-left: 0;
  }
}

@media all and (max-width:991px) {
  @include burger("header-burger", "header-nav", "#313131", "rgba(255, 255, 255, 0.9)");

  .about {
    background-position: center left;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../media/img/about/picture.jpg') ;
  }
  .about-content  {
    padding-right: 0;
    justify-content: center;
  }

  .advantages-choose .wrapper {
    flex-wrap: wrap;
    .title {
      text-align: center;
    }
  }

  .why-choose,
  .advantages {
    width: 100%;
  }
}

@media all and (max-width:768px) {
.hero-features .wrapper {
  flex-wrap: wrap;
  justify-content: center;
  .hero-features-card {
    margin-bottom: 50px;
  }
}

  .footer .footer-nav .wrapper {
    justify-content: flex-end;
  }
  .footer .footer-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 103;
      &::before,
      &::after {
        content: '';
        background-color: #565555;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      span{
        position: absolute;
        background-color: #565555;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        /* transition: all 0.3s ease 0s; */
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active span{
        transform: scale(0);
      }
      &.active::before{
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }

    .page-title {
      height: 100px;
      h1 {
        font-size: 50px;
      }
    }

    .footer .nav {
      display: none;
    }

    .plans .wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
    }
}

@media all and (min-width:600px) {
  .meet-youniverse .features-item:nth-child(odd) {
    justify-self: end;
    text-align: right;
    .features-item-title{
      flex-direction: row-reverse;
    }
    .features-item-icon {
      margin-right: 0;
      margin-left: 18px;
    }
    p {
      text-align: right;
    }
  }
}

@media all and (max-width:510px) {
  .header {
    padding: 30px;
  }
  .meet-youniverse .swiper-wrapper {
    display: flex;
		justify-content: initial;
		flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
	}

  .meet-youniverse .features-item {
		max-width: 100%;
		// margin-left: 25px;
		flex-shrink: 0;
	}

  .meet-youniverse .slider-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .meet-youniverse .swiper-button-prev,
  .meet-youniverse .swiper-button-next {
  position: static;
  top: 94%;
}

.meet-youniverse .swiper-button-prev {
  left: 14px;
}

.meet-youniverse .swiper-button-next {
  right: 14px;
}

.meet-youniverse .slider-buttons .swiper-button-prev::after,
.meet-youniverse .slider-buttons .swiper-button-next::after {
  content: '\2192'; 
  color: #622ad1;
  font-size: 32px;
}
.meet-youniverse .slider-buttons .swiper-button-prev::after{
  content: '\2190';
}

.skills-and-offer {
  text-align: center;
}

  .offer {
    padding-left: 16px;
    .content {
      display: block;
    }
  }

  .page-title h1 {
    font-size: 28px;
  }

  .contact-item {
    margin-top: 20px;
    flex-direction: column;
    p {
      padding: 0 0 10px;
    }
  }
  
  .adv-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adv-icon {
    margin-bottom: 15px;
  }

  .why-choose {
    padding: 0;
  }
  .why-choose-content {
    flex-direction: column;
  }

  .shoose-img {
    width: 100%;
  }
  
}

@media all and (max-width:400px) {
  .good-looking-design .design-content,
  .useful-features .useful-content,
  .good-looking-design .features-item,
  .useful-features .features-item {
    width: 100%;
  }
  // .features-item {
  //   width: 100%;
  // }
}