/*-- TESTIMONIALS --*/

.page-title.testimonials {
  background: url("../media/img/testimonials/bg-page-title.jpg") center top/ cover no-repeat;
}

.testimonials {

	.slider {
		position: relative;
	}

	.slider-nav {
		overflow: hidden;
		max-width: 990px;
		margin: 0 auto 15px;
		flex-shrink: 0;
		height: 250px;
	}

	.slider-main {
		overflow: hidden;
		// height: 500px;
		&::before {
			content: "";
			margin: 0 auto;
			display: block;
			width: 89px;
			//height: 21px;
			border-style: solid;
			border-width: 20px 50px;
			border-color: transparent transparent #f6f6f6 transparent;
			// background: url("../media/img/testimonials/arrowUp-testimonial.png") center top/ cover no-repeat;
		}
	}

	.slider-nav .swiper-slide {
		/* width: 100px; */
		height: 195px;
		/* Затьемнение */
		opacity: 0.5;
		transition: 0.5s;
	}
	
	.slider-nav .swiper-slide-active {
		opacity: 1;
		transition: 0.5s;
	}
	
	.slider-nav .swiper-slide img {
		display: block;
		margin: 0 auto;
		// max-height: 100%;
		height: 195px;
		width: 195px;
		border-radius: 50%;
	}
	
	.slider-nav .swiper-slide p {
		font-family: "Lato-Bold", sans-serif;
		text-transform: uppercase;
	}
	
	.testimonial {
		margin: 0 auto;
		padding: 52px;
		max-width: 650px;
		background-color: #f6f6f6;
		.text {
			margin: 0 0 10px;
			font-family: "Lato-LightItalic", sans-serif;
			font-size: 24px;
			line-height: 1.7;
		}
		.author {
			margin: 0;
			font-size: 18px;
			// font-family: "Lato-Bold", sans-serif;
		}
	}
	
	.swiper-button-prev,
	.swiper-button-next {
		top: 20%;
		color: #dddddd;
		background-color: transparent;
	  border: none;
		&:hover {
			color: #431d91;
		}
	}
	
	.swiper-button-prev {
		left: 0;
	}
	
	.swiper-button-next {
		right: 0;
	}
}






